---
layout: default
title: "Home"
---
<html>

<head>
  <style>
    .table-container {
      display: flex;
      justify-content: center;
    }
  </style>
</head>

<body>
  <!-- Insert the text here -->
  <article>
    Weekly reading group hosted by <a href="https://docclab.cs.tufts.edu/">DOCC Lab</a> at Tufts University. Held on Wednesdays 12-1pm. If you have any interest in attending (in-person or remote), reach out to me at lan [DOT] liu [AT] tufts [DOT] edu.
  </article>
  
  <!-- The table content starts here -->
  <div class="table-container">
<table class="center" style='margin: 5px;'>
  <tr>
    <th>Date</th>
    <th>Presenter</th>
    <th>Paper</th>
    <th>Summary</th>
  </tr>
  <tr>
    <td>8/21/24</td>
    <td>Max Liu</td>
    <td>Teamwork</td>
    <td>TBA
    </td>
  </tr>
  <tr>
    <td>8/14/24</td>
    <td>Darby Huye</td>
    <td>TBA</td>
    <td>TBA
    </td>
  </tr>
  <tr>
    <td>8/8/24</td>
    <td>Zhaoqi(Roy) Zhang</td>
    <td><a href="https://www.usenix.org/system/files/nsdi22-paper-gao_kaihui.pdf">Buffer-based End-to-end Request Event Monitoring in the Cloud, NSDI '22</a></td>
    <td>
      {% assign post = site.posts | where_exp: "post", "post.title contains 'Buffer-based'" | first %}
      {% if post %}
      <a href="{{ post.url | relative_url }}">Summary</a>
      {% else %}Unavailable
      {% endif %}    
    </td>   
  </tr>
  <tr>
    <td>6/19/24</td>
    <td>Tony Astolfi</td>
    <td><a href="https://www.usenix.org/system/files/nsdi24-wang-zibo.pdf">Autothrottle: A Practical Bi-Level Approach to Resource Management for SLO-Targeted Microservices, NSDI '24</a></td>
    <td>
      {% assign post = site.posts | where_exp: "post", "post.title contains 'Autothrottle'" | first %}
      {% if post %}
      <a href="{{ post.url | relative_url }}">Summary</a>
      {% else %}Unavailable
      {% endif %}    
    </td>  
  </tr>

</table>
  </div>
</body>

</html>





